
.cache-31ovnqeyxbqbyw3tgxi3ey2flgwu
.cache-lf7getu0uxe4ycr73nwvvvo6n
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Spotify-Playlist-Transfer.iml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/secrets.cpython-38.pyc
__pycache__/spotify_client.cpython-38.pyc
Library/Playlists/spotify;playlist;18emgFc2EgugukXUxVh0Y1
Library/Playlists/spotify;playlist;1ju8BNiuvHD4tS5tre9cxd
Library/Playlists/spotify;playlist;1MjWv7jeXJOBDyQ5MXgHdG
Library/Playlists/spotify;playlist;2MTKJILuDXmOk2D94k8lsy
Library/Playlists/spotify;playlist;355eU2qLzp22EVqXsops9v
Library/Playlists/spotify;playlist;3FkratgZT4kRPYAczt0IPp
Library/Playlists/spotify;playlist;3TuAqBXrMmxrpuFylFRXLq
Library/Playlists/spotify;playlist;4AUQojLUkaKUgBC1uOA1I5
Library/Playlists/spotify;playlist;4Bbg8UNhOwIzg8XuOZBdEO
Library/Playlists/spotify;playlist;4pqY6i2Sm0nIOEe1eFIPc5
Library/Playlists/spotify;playlist;60IWlD88eX2kVamh0bNXrb
Library/Playlists/spotify;playlist;6hK8EwVc4sliqwNBisv3Km
Library/Playlists/spotify;playlist;6q7lMdDXQ8Hz9Mdw1UdAT3
Library/Playlists/spotify;playlist;78Eqm897oVEeW1heED8xrf
Library/Playlists/spotify;playlist;7gKi5onDPzvA0oBCoMdTga
Library/Playlists/spotify;playlist;7xPAJPc6BUYPfk8Y2cUGdI
Playlists.txt
